# NextFlow
/work/
/.nextflow.log*
/.nextflow/
trace*.txt

# DATA
*.*fastq*
*.*fq*
*.*bam*
*.*sam*
*.fasta
data*

# nf-tests
.nf-test/*
*.snap

# tests data
!test_data

# Linter
!.groovylintrc.json
.idea/
