
// The following variable, set by Kubernetes, must also exist to run the pipeline
// with other executors.
env.WORKSPACE = 'offline'

params {
    testing = ''
    test_container_cm = ''
    help = ''
    publish_dir = ''
    reference_name = 'M.tuberculosis'
}


profiles {
    standard {
        docker {
            enabled = true
            temp = 'auto'
        }
    }

    no_docker {
        docker {
            enabled = false
        }
    }

    local_docker {
        docker {
            enabled = true
        }
        // Automated testing will need to create container with this name
        params.test_container_cm = "test_container_cm"
    }

    testing {
        docker {
            enabled = true
        }
        // Automated testing will need to create container with this name
        params.test_container_cm = "test_container_cm"
        params.testing = "true"
    }
}
